header h1 {

    background-color: rgb(75, 138, 219);
    color: rgb(245, 244, 244);
    text-align: center;
    border-radius: 2px;
    padding: .6rem 0;
    text-transform: capitalize;
    max-width: 80%;
    margin:auto;


}